<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
	<system>
		<section id='api'>
			<group
				id='pwinty'
				showInDefault='1' showInStore='1' showInWebsite='1'
				sortOrder='10'
				type='text'
			>
				<label>Pwinty</label>
				<field
					id='test'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='1'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Sandbox Mode?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='testMerchantID'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='2'
					translate='label'
					type='text'
				>
					<label>Test Merchant Code</label>
					<comment><![CDATA[]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='testPrivateKey'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='3'
					translate='label'
					type='obscure'
				>
					<label>Test Merchant Key</label>
					<comment><![CDATA[]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='liveMerchantID'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='4'
					translate='label'
					type='text'
				>
					<label>Live Merchant Code</label>
					<comment><![CDATA[]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='livePrivateKey'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='5'
					translate='label'
					type='obscure'
				>
					<label>Live Merchant Key</label>
					<comment><![CDATA[]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
					<validate>required-entry</validate>
				</field>
			</group>
		</section>
	</system>
</config>