<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
	<system>
		<section id='api'>
			<group
				id='pwinty_api_auth'
				showInDefault='1' showInStore='1' showInWebsite='1'
				sortOrder='10'
				type='text'
			>
				<label>Pwinty</label>
				<field
					id='merchant_id'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='5'
					type='text'
				>
					<label>Merchant ID</label>
					<validate>required-entry</validate>
				</field>
				<field
					id='pwinty_api_key'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='5'
					type='text'
				>
					<label>API Key</label>
					<validate>required-entry</validate>
				</field>
			</group>
		</section>
	</system>
</config>